/* Clearfix */
.clearfix:before,
.clearfix:after{
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
.newspaper {
-moz-column-count:3; /* Firefox */
-webkit-column-count:3; /* Safari and Chrome */
column-count:3;
}

/* Basic Styles */
body {
	background-image : url('images/back.jpg');
	font-family: "georgia", arial, serif;
	text-align: justify;
	color: #000;
	text-decoration: none;
	line-height: 20px;
}
nav {
	height: 40px;
	width: 84%;
	float: right;
	background: #f2c2b8;
	font-size: 13pt;
	font-family: georgia, serif;
	font-weight: bold;
	position: relative;

}
nav ul {
	padding: 0;
	margin: 0 auto;
	width: 400px;
	height: 40px;
}
nav li {
	display: inline;
	float: left;
}
nav a {
	color: #fff;
	display: inline-block;
	width: 100px;
	text-align: center;
	text-decoration: none;
	line-height: 40px;
	text-shadow: 1px 1px 0px #283744;
}
nav li a {
	border-right: 1px solid #ffffff;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
nav li:last-child a {
	border-right: 0;
}
nav a:hover {
	background-color: #fff;
}
nav a:active {
	background: #fff;
	}
nav a#pull {
	display: none;
}
	h2 {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	background: #bce0dc;
	font-size: 1.3em;
	padding: 4px;
}
	h3 {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	background: #d76475;
	padding: 4px;
}
p {
	line-height: 2em;
	padding: 1px;
}
nav ul.subs {
    background-color: #FFFFFF;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    color: #333333;
    display: none;
    left: 0;
	position: absolute;
    width: 100%;
	text-align: center;
}
/* submenu */
nav li:hover ul.subs {
    display: block;
}
nav ul.subs > li {
    display: inline-block;
    float: none;
    vertical-align: top;
	width: 16%;
}
nav ul.subs > li a {
    color: #000;
    line-height: 40px;
	text-shadow: none;
	width: 150px;
}
nav .linkone a:hover {
    color: #fff;
	background: #c0e18a;
}
nav  .linktwo a:hover {
    color: #fff;
	background: #f2c2b8;
}
nav  .linkthree a:hover {
    color: #fff;
	background: #bce0dc;
}
nav .linkfour a:hover {
    color: #fff;
	background: #f5ba6e;
}
nav ul.subs > li > a {
    font-size: 8pt;
    text-transform: none;
}
nav ul.subs > li li {
    float: none;
    padding-left: 8px;
    -moz-transition: padding 150ms ease-out 0s;
    -ms-transition: padding 150ms ease-out 0s;
    -o-transition: padding 150ms ease-out 0s;
    -webkit-transition: padding 150ms ease-out 0s;
    transition: padding 150ms ease-out 0s;
}
nav ul.subs > li li:hover {
    padding-left: 15px;
	}
	

/*Styles for DESKTOP and lower*/
@media screen and (max-width: 3000px) {
	#sidebar {
		font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
		background: #fff;
		width: 150px;
		float: left;
		margin: 0px 10px 10px 10px;
		padding: 10px;
		padding-bottom: 43px;
		font-size: 0.8em;
			}
	#indexcolumn {
		width: 75%;
		float: left;
		padding: 0px 10px 10px 10px;
		margin: 10px 10px 10px 5px;
		-moz-column-count:3; /* Firefox */
		-webkit-column-count:3; /* Safari and Chrome */
		column-count:3;	
	}
	#indexcolumn img {
	padding-top: 10px;
	}
	#content {
		width: 75%;
		float: left;
		padding: 5px;
	}	
	#columnone {
		background: #fff;
		padding: 10px; 
		margin: 0px 10px 10px 10px;
	}
	img {
		max-width: 90%;
		height: auto;
		width: auto\9; /*ie8*/
	}
	#header {
		display: none;
	}
	#basicbox, #abbreviations {
		background: white;
		width: 93%;
		padding: 10px;
		float: left;
		margin: 10px;
	}
	#easybox, #intermediatebox, #hardbox, #clothes, #accessories, #homefurnishings {
		background: white;
		width: 27.7%;
		padding: 10px;
		float: left;
		margin: 10px;
	}
	#clothes img, #accessories img, #homefurnishings img {
		padding-bottom: 20px;
	}
	#footer {
		background: none;
		padding: 5px;
		width: 90%;
		float: left;
		margin-top: 30px;
		border-top: dashed 1px #000;
		margin-left: 5%;
		}
	#introduction, #stepone {
		width: 90%;
		background: white;
		padding: 10px;
		margin: 10px;
		}	
	#greenbox {
		background: #c0e18a;
		width: 90%;
		padding: 10px;
		margin: 10px;
}
	#smallstep, #stitches {
		background: white;
		width: 42.93%;
		float: left;
		padding: 10px;
		margin: 10px;
		}
	#pinkbox {
		background: #ffc3b9;
		width: 90%;
		padding: 10px;
		margin: 10px;
}
	#bluebox {
		background: #bce0dc;
		width: 90%;
		padding: 10px;
		margin: 10px;
}
	#bobble {
		background: white;
		width: 40%;
		padding: 10px;
		font-size: 1em;
		margin: 10px;
		float: left;
		}
	#orangebox {
		background: #f5ba6e;
		width: 90%;
		padding: 10px;
		margin: 10px;
}
	#patterns {
		background: #fff;
		width: 40%;
		padding: 10px;
		margin: 10px;
		float: left;	
	}	
	#table {
		width:92%;
		border-collapse:collapse;
		padding:10px;
		margin: 10px;
	}
	#table td, #table th {
		font-size:1em;
		border:1px solid #ddd;
		padding:3px 7px 2px 7px;
		background: white;
		padding: 5px;
	}
	#table th {
		font-size:1.1em;
		text-align:left;
		padding-top:5px;
		padding-bottom:4px;
		background-color:#EEE;
		border-bottom: 2px #ddd;
	}
	#interact {
		background: white;
		width: 95%;
		padding: 10px;
		margin: 10px;

	}
	.copyright {
		float: left;
		width: auto;
	}
	#footer img {
		display: inline-block;
	}
	}

/*COMMENT BOX INTERACT PAGE*/	
#comment_form input, #comment_form textarea {
	border: 4px solid rgba(0,0,0,0.1);
	padding: 8px 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	outline: 0;
	width: 50%;
}

#comment_form textarea {
	width: 50%;
	height: auto;
}

#comment_form input[type="submit"] {
	cursor: pointer;
	background: -webkit-linear-gradient(top, #efefef, #ddd);
	background: -moz-linear-gradient(top, #efefef, #ddd);
	background: -ms-linear-gradient(top, #efefef, #ddd);
	background: -o-linear-gradient(top, #efefef, #ddd);
	background: linear-gradient(top, #efefef, #ddd);
	color: #333;
	text-shadow: 0px 1px 1px rgba(255,255,255,1);
	border: 1px solid #ccc;
}

#comment_form input[type="submit"]:hover {
	background: -webkit-linear-gradient(top, #eee, #ccc);
	background: -moz-linear-gradient(top, #eee, #ccc);
	background: -ms-linear-gradient(top, #eee, #ccc);
	background: -o-linear-gradient(top, #eee, #ccc);
	background: linear-gradient(top, #eee, #ccc);
	border: 1px solid #bbb;
}

#comment_form input[type="submit"]:active {
	background: -webkit-linear-gradient(top, #ddd, #aaa);
	background: -moz-linear-gradient(top, #ddd, #aaa);
	background: -ms-linear-gradient(top, #ddd, #aaa);
	background: -o-linear-gradient(top, #ddd, #aaa);
	background: linear-gradient(top, #ddd, #aaa);	
	border: 1px solid #999;
}

#comment_form div {
	margin-bottom: 8px;
	}
/* INTERACT page layout structure */ 
ul, li, a {
	  margin: 0;
	  padding: 0;
	  border: 0;
	  font-size: 100%;
	  vertical-align: baseline;
	  outline: none;
	  -webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  box-sizing: border-box;
}

::selection { background: #d7d0f3; }
::-moz-selection { background: #d7d0f3; }
::-webkit-selection { background: #d7d0f3; }


h1 {  
	line-height: 1.6em; 
	font-weight: normal; 
	color: #bce0dc; 
	text-shadow: 0px 1px 1px #fff; 
	margin-bottom: 21px; 
}

a { 
	color: #c0e18a; 
	text-decoration: none; 
}

#w { 
	display: block; 
	width: 60%; 
	margin: 0 auto; 
	padding-top: 35px; 
}


#comment_form input, #comment_form textarea {
	border: 4px solid rgba(0,0,0,0.1);
	padding: 8px 10px;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	outline: 0;
}

/* comments area on INTERACT page*/
#comments { display: block; overflow: hidden; padding: 20px;}
#comments p{ font-size: 0.8em;}
#comments .cmmnt, ul .cmmnt, ul ul .cmmnt { display: block; position: relative; padding-left: 10%; border-top: 1px solid #ddd; }

#comments .cmmnt .avatar  { position: absolute; top: 8px; left: 0; }
#comments .cmmnt .avatar img { 
  -webkit-border-radius: 3px; 
  -moz-border-radius: 3px; 
  border-radius: 3px; 
  -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.44);
  -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.44);
  box-shadow: 1px 1px 2px rgba(0,0,0,0.44);
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
  
}

#comments .cmmnt .avatar a:hover img { opacity: 0.77; }
#comments .cmmnt .cmmnt-content { padding: 0px 3px; padding-bottom: 12px; padding-top: 8px; }
#comments .cmmnt .cmmnt-content header { font-size: 1em; display: block; margin-bottom: 8px; }
#comments .cmmnt .cmmnt-content header .pubdate { color: #777; }
#comments .cmmnt .cmmnt-content header .userlink { font-weight: bold; } 
#comments .cmmnt .replies { margin-bottom: 7px; }
/* END */
}
#patterns img{
	width: 70%;
}
/*Styles for TABLET and lower*/
@media screen and (max-width: 1540px) {
	#patterns {
		width: 44%;
	}
		
	}
/*Styles for TABLET and lower*/
@media screen and (max-width: 1000px) {
#sidebar {
	float: left;
	width: 10%;
}
#content {
	float: none;
	-moz-column-count:1; /* Firefox */
	-webkit-column-count:1; /* Safari and Chrome */
	column-count:1;
}
#patterns {
	width: 43%;
	}
#footer {
	margin: 10px;
	float: left;
}
		#easybox, #intermediatebox, #hardbox, #clothes, 
	#accessories, #homefurnishings {
		width: 25%;
	}
	
}
/*Styles for TABLET and lower*/
@media screen and (max-width: 970px) {
#patterns {
	width: 40%;
	
	}


}
/*Styles for TABLET and lower*/
@media screen and (max-width: 900px) {

#patterns {
	width: 40%;
	
	}
		#easybox, #intermediatebox, #hardbox, #clothes, 
	#accessories, #homefurnishings {
		width: 25%;
	}
	

}

/*Styles for TABLET and lower*/
@media screen and (max-width: 768px) {
	nav { 
  		height: auto;
		float: none;
		width: 100%;
  	}
  	nav ul {
  		width: 100%;
  		display: block;
  		height: auto;
  	}
  	nav li {
  		width: 50%;
  		float: left;
  		position: relative;
  	}
  	nav li a {
		border-bottom: 1px solid #fff;
		border-right: 1px solid #fff;
	}
  	nav a {
	  	text-align: left;
	  	width: 100%;
	  	text-indent: 25px;
  	}
    nav ul.subs {
        position: relative;
        top: 0;
		width: 100%;
    }
    nav li:hover ul.subs {
        display: none;
    }
    nav li #s1:target + ul.subs,
    nav li #s2:target + ul.subs {
        display: block;	
    }
    nav ul.subs > li {
        display: block;
		width: 100%;
    }
	img {
		max-width: 100%;
		height: auto;
		width: auto\9; /*ie8*/
	}
	#sidebar {
		display: none;
	}
	#header {
		width: auto;
		display: inline-block;
	}
	#indexcolumn {
		width: 95%;
		float: none;
		-moz-column-count:1; /* Firefox */
		-webkit-column-count:1; /* Safari and Chrome */
		column-count:1;

	}
	#content {
		width: 98%;
		float: none;
		}
	#columnone, #interact, #patterns {
		margin: 10px;
		width: 95%;
		float: left;
		}	
	#basicbox, #abbreviations {
		width: 96%;
		margin: 10px;
		float: left;
	}
	#patterns img,  {
		max-width: 50%;
	}
	#easybox, #intermediatebox, #hardbox, #clothes, 
	#accessories, #homefurnishings {
		background: white;
		width: 25%;
		padding: 10px 10px 30px 10px;
		float: left;
		margin: 10px;
	}
	#footer {
		width: 95%;
		margin: 10px;
		}
	#stepone, #greenbox, #introduction, #bluebox, #orangebox, #pinkbox {
		width: 95%;
		float: none;
	}
	#smallstep {
		width: 95%;
		float: none;
	}
	#comment_form textarea {
		width: 60%;
		height: auto;
	}
	#bobble, #stitches {
		width: 46%;
	}
	}

	
/*Styles for screen 515px and lower*/
@media only screen and (max-width: 520px) {
	nav {
		border-bottom: 0;
	}
	nav ul {
		display: none;
		height: auto;
	}
	nav a#pull {
		display: block;
		background: #f2c2b8;
		width: 100%;
		position: relative;
	}
	nav a#pull:after {
		content:"";
		background: url('images/nav-icon.png') no-repeat;
		width: 30px;
		height: 30px;
		display: inline-block;
		position: absolute;
		right: 15px;
		top: 15px;
	}
	#sidebar, #header {
		display: none;
	}
	#clothes, #accessories, #homefurnishings, #tutorialseasy, #tutorialsintermediate, #tutorialshard {
		width: 25.15%;
	}
	#smallstep, #stitches, #indexcolumn, #columnone {
		width: 95%;
		float: none;
	}
	#introduction, #stepone {
		width: 90%;
	}
	#content {
		column-count: 1;
	}
#comments .cmmnt .avatar img {
	max-width: 50%;
}
	
}

/*Smartphone*/
@media only screen and (max-width : 480px) {
	nav li {
		display: block;
		float: none;
		width: 100%;
	}
	nav li a {
		border-bottom: 1px solid #fff;
	}
		nav {
		border-bottom: 0;
		width: 100%;
	}
	nav ul {
		display: none;
		height: auto;
	}
nav ul.subs > li a {
		width: 100%;
	}
	nav li {
		width: 100%;
	}
	nav a#pull {
		display: block;
		background-color: #f2c2b8;
		width: 100%;
		position: relative;
	}
	nav a#pull:after {
		content:"";
		background: url('images/nav-icon.png') no-repeat;
		width: 30px;
		height: 30px;
		display: inline-block;
		position: absolute;
		right: 15px;
		top: 10px;
	}
	nav ul.subs {
        position: relative;
        top: 0;
		width: 100%;
    }
	nav ul.subs > li a {
		width: 100%;
	}
    nav li:hover ul.subs {
        display: none;
    }
	nav li #s1:target + ul.subs,
    nav li #s2:target + ul.subs {
        display: block;
		width: 100%;
    }
    nav ul.subs > li {
        display: block;
        width: 100%;
    }
	#sidebar{
		display: none;
	}
	#indexcolumn {
		width: 90%;
		clear: both;
		}
	#content {
		width: 90%;
		float: none;
		-moz-column-count:1; /* Firefox */
		-webkit-column-count:1; /* Safari and Chrome */
		column-count:1;
	}
	#columnone {
	  width: 90%;
	  margin-top: 10px;
	  float: none;
	}
	#header {
		display: none;
		}
	#basicbox, #easybox, #intermediatebox, #hardbox,
		#clothes, #accessories, #homefurnishings, #abbreviations, 
		#footer, #smallstep, #bobble, #bluebox, #stitches, #greenbox, #stepone, #introduction, 
		#orangebox, #bluebox, #pinkbox, #greenbox{
		width: 95%;
		margin: 10px;
		float: none;
	}
	#interact {
		width: 100%;
		margin: 10px;
		float: none;
	}
	.reduced {
		max-width: 46%;
		height: auto;
		width: auto\9; /*ie8*/
	}
	.newspaper {
		-moz-column-count:1; /* Firefox */
		-webkit-column-count:1; /* Safari and Chrome */
		column-count:1;
}
/* FOR INTERACT PAGE  */
#comment_form textarea {
	width: 95%;
	height: auto;
}
#comments .cmmnt .avatar img { 
	width: 10%;
/* END */	
}
#footer {
	float: left;
	margin: 10px;
	width: 92%;
	}

}
